# Project overview
In this project I'm going to explore an e-commerce data set from a European fashion retailer. The goal is to identify product sales patterns, understand customer behavior across countries and detect potencial business opportunities.

The project follows a structured data analysis workflow:
1. **Data Descripcion** - Identifying relevant datasets.
2. **Data Scoping** - Focus the key questions I want to answer.
3. **Data curation** - Check the data, cleaned and make it ready to work with.
4. **Exploratory Data Analysis** - Review all the data and star spotting interesting patterns.
5. **Datafolio** - Organize the process and results into a clear, structured notebook.
6. **Dashboard** - Create a visual panel with the top metrics.
7. **Final report** - Wrap up the findings and final conclusions.

### 1. Data Description
#### Files
**customers**: customer_id,country,age_range,singup_date

**products**: product_id,product_name,category,brand,color,size,catalog_price, cost_price, gender

**salesitmes**: item_id, sale_id,product_id, quantity, unit_price, original_price, discount_applied, discount_percent, item_total, sale_date, channel, channel_campaigns

**Source**: Kaggle -  Multitable Ecommerce European Fashion Dataset

**Granularity**:
	
   
•	**customers**: 1 row = 1 customer

•	**sales**: 1 row = 1 order

•	**salesitem**: 1 row = 1 order line ( product per line)

In [2]:
import pandas as pd
products = pd.read_csv("dataset_fashion_store_products.csv")
customers = pd.read_csv("dataset_fashion_store_customers.csv")
sales = pd.read_csv("dataset_fashion_store_sales.csv")
salesitems = pd.read_csv("dataset_fashion_store_salesitems.csv")
stock = pd.read_csv("dataset_fashion_store_stock.csv")
channels = pd.read_csv("dataset_fashion_store_channels.csv")
campaigns = pd.read_csv("dataset_fashion_store_campaigns.csv")

In [8]:
import pandas as pd

products = pd.read_csv("dataset_fashion_store_products.csv", sep=";")
print(products.columns)

Index(['product_id', 'product_name', 'category', 'brand', 'color', 'size',
       'catalog_price', 'cost_price', 'gender'],
      dtype='object')

### 2. Data Scoping
**Goal**: Understand why some product sell less, identify customer behavior patterns and find potential growth opportunities by analyzing sales by category, country and channel.
**Key questions**:

• How so dales change over time and by channel?

• Which categories and countries drive the most revenue?

• Which products have low rotation or rely on discount to sell?	

• Are price/discount ouliers that blur metrics?

**Focus variables**: sales_date, channel, category, country, unit_price, quantity, discount, line_total

### 3. Data Curation
#### 3.1 Structure

In [4]:
print("Products:", products.shape)
print("Customers:", customers.shape)
print("Sales:", sales.shape)
print("SalesItems:", salesitems.shape)
print("Stock:", stock.shape)
print("Channels:", channels.shape)
print("Campaigns:", campaigns.shape)

Products: (500, 1)
Customers: (1000, 1)
Sales: (905, 1)
SalesItems: (2253, 1)
Stock: (1000, 1)
Channels: (2, 1)
Campaigns: (7, 1)

In [10]:
# Unique products
num_products = products["product_id"].nunique()
print("Unique products:", num_products)

# Unique categories
num_categories = products["category"].nunique()
print("Unique categories:", num_categories)

# Top categories
top_categories = products["category"].value_counts()
print("\nTop categories:\n", top_categories)

Unique products: 500
Unique categories: 5

Top categories:
 category
Dresses      109
T-Shirts     108
Sleepwear    104
Shoes        100
Pants         79
Name: count, dtype: int64

In [11]:
customers = pd.read_csv("dataset_fashion_store_customers.csv", sep=";")

# Unique countries
num_countries = customers["country"].nunique()
print("Unique countries:", num_countries)

# Top countries
top_countries = customers["country"].value_counts()
print("\nTop countries:\n", top_countries)

Unique countries: 6

Top countries:
 country
France         221
Germany        212
Italy          192
Netherlands    162
Spain          143
Portugal        70
Name: count, dtype: int64

In [14]:
sales["sale_date"] = pd.to_datetime(
    sales["sale_date"],
    format="%Y-%m-%d",   # specify the exact date format
    errors="coerce"
)

In [28]:
sales = pd.read_csv("dataset_fashion_store_sales.csv", sep=";")

# Date Change
sales["sale_date"] = pd.to_datetime(sales["sale_date"], errors="coerce")

min_date = sales["sale_date"].min()
max_date = sales["sale_date"].max()

print("Sales date range:", min_date, "→", max_date)

Sales date range: 2025-04-04 00:00:00 → 2025-06-17 00:00:00

/var/folders/l2/l5cbn0l91s51rkbk4h30yrxr0000gn/T/ipykernel_1410/2306452426.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales["sale_date"] = pd.to_datetime(sales["sale_date"], errors="coerce")

### Date Parsing Fix
To avoid parsing warnings and improve performance, I explicitly set the date format (`%Y-%m-%d`) when converting the `sale_date` columns in both `sales` and `salesitems`.

In [18]:
import pandas as pd
import numpy as np

# Saleitems
salesitems = pd.read_csv("dataset_fashion_store_salesitems.csv", sep=";")

# Dates
salesitems["sale_date"] = pd.to_datetime(salesitems["sale_date"], format="%Y-%m-%d", errors="coerce")

# Numeric columns
num_cols = ["unit_price", "original_price", "discount_applied", "discount_percent", "quantity", "item_total"]
for c in num_cols:
    if c in salesitems.columns:
        salesitems[c] = pd.to_numeric(salesitems[c], errors="coerce")

# Calculated discount% if it’s missing
if "discount_percent_calc" not in salesitems.columns:
    salesitems["discount_percent_calc"] = np.where(
        (salesitems["original_price"] > 0) & salesitems["original_price"].notna(),
        (salesitems["original_price"] - salesitems["unit_price"]) / salesitems["original_price"] * 100,
        np.nan
    )

In [19]:
disc_min  = salesitems["discount_percent_calc"].min(skipna=True)
disc_mean = salesitems["discount_percent_calc"].mean(skipna=True)
disc_max  = salesitems["discount_percent_calc"].max(skipna=True)
print(f"Discount % (calc)  min/mean/max: {disc_min:.2f}  {disc_mean:.2f}  {disc_max:.2f}")

# Outliers (1%–99%)
p01 = salesitems["discount_percent_calc"].quantile(0.01)
p99 = salesitems["discount_percent_calc"].quantile(0.99)
disc_outliers = salesitems[(salesitems["discount_percent_calc"] < p01) | (salesitems["discount_percent_calc"] > p99)]
print("Discount outliers:", len(disc_outliers))

Discount % (calc)  min/mean/max: 0.00  2.40  30.02
Discount outliers: 23

In [20]:
# Unit price outliers
p01_price = salesitems["unit_price"].quantile(0.01)
p99_price = salesitems["unit_price"].quantile(0.99)

price_outliers = salesitems[(salesitems["unit_price"] < p01_price) | 
                            (salesitems["unit_price"] > p99_price)]

print(f"Unit price outliers (1–99%): {len(price_outliers)}")
print(f"P01={p01_price:.2f} | P99={p99_price:.2f}")

# Discount outliers
p01_disc = salesitems["discount_percent_calc"].quantile(0.01)
p99_disc = salesitems["discount_percent_calc"].quantile(0.99)

disc_outliers = salesitems[(salesitems["discount_percent_calc"] < p01_disc) | 
                           (salesitems["discount_percent_calc"] > p99_disc)]

print(f"Discount outliers (1–99%): {len(disc_outliers)}")
print(f"P01={p01_disc:.2f} | P99={p99_disc:.2f}")

Unit price outliers (1–99%): 46
P01=20.57 | P99=79.84
Discount outliers (1–99%): 23
P01=0.00 | P99=30.01

In [21]:
price_outliers.to_csv("outliers_unit_price.csv", index=False)
disc_outliers.to_csv("outliers_discount.csv", index=False)

print("✅ Outliers exported: outliers_unit_price.csv & outliers_discount.csv")

✅ Outliers exported: outliers_unit_price.csv & outliers_discount.csv

#### 3.2 Master Clean Dataset
I clean and check all the CSV and join the info to reflect everything onto a Master_dataset

In [22]:
import pandas as pd
import numpy as np

# Master dataset
master = pd.read_csv("master_clean.csv")

# Date columns
if "sale_date" in master.columns:
    master["sale_date"] = pd.to_datetime(master["sale_date"], errors="coerce")

In [23]:
rows = len(master)
num_products   = master["product_id"].nunique() if "product_id" in master.columns else None
num_categories = master["category"].nunique()   if "category" in master.columns else None
num_countries  = master["country"].nunique()    if "country" in master.columns else None

print(f"Rows: {rows}")
print(f"Unique products: {num_products}")
print(f"Unique categories: {num_categories}")
print(f"Unique countries: {num_countries}")

Rows: 2193
Unique products: 491
Unique categories: 5
Unique countries: 6

In [24]:
price_min  = master["unit_price"].min()
price_mean = master["unit_price"].mean()
price_max  = master["unit_price"].max()

print(f"Unit Price  min={price_min:.2f}  mean={price_mean:.2f}  max={price_max:.2f}")

p01_price = master["unit_price"].quantile(0.01)
p99_price = master["unit_price"].quantile(0.99)

price_outliers = master[
    (master["unit_price"] < p01_price) | 
    (master["unit_price"] > p99_price)
]

print(f"Unit price outliers (1–99%): {len(price_outliers)}")

Unit Price  min=20.29  mean=48.22  max=80.00
Unit price outliers (1–99%): 44

In [25]:
disc_col = "discount_percent_calc" if "discount_percent_calc" in master.columns else (
    "discount_percent" if "discount_percent" in master.columns else None
)

if disc_col:
    disc_min  = master[disc_col].min()
    disc_mean = master[disc_col].mean()
    disc_max  = master[disc_col].max()

    print(f"Discount ({disc_col})  min={disc_min:.2f}  mean={disc_mean:.2f}  max={disc_max:.2f}")

    p01_disc = master[disc_col].quantile(0.01)
    p99_disc = master[disc_col].quantile(0.99)

    disc_outliers = master[
        (master[disc_col] < p01_disc) | 
        (master[disc_col] > p99_disc)
    ]

    print(f"Discount outliers (1–99%): {len(disc_outliers)}")

Discount (discount_percent_calc)  min=0.00  mean=2.09  max=30.01
Discount outliers (1–99%): 22

In [26]:
qty_min = master["quantity"].min()
qty_mean = master["quantity"].mean()
qty_max = master["quantity"].max()

print(f"Quantity  min={qty_min}  mean={qty_mean:.2f}  max={qty_max}")

if "line_total" not in master.columns:
    master["line_total"] = master["unit_price"] * master["quantity"]

rev_sum  = master["line_total"].sum()
rev_mean = master["line_total"].mean()
rev_max  = master["line_total"].max()

print(f"Revenue  sum={rev_sum:,.2f}  avg per line={rev_mean:.2f}  max line={rev_max:.2f}")

Quantity  min=1  mean=2.99  max=5
Revenue  sum=316,382.55  avg per line=144.27  max line=400.00

In [27]:
if "country" in master.columns:
    top_countries = master["country"].value_counts().head(5)
    print("Top 5 countries:")
    print(top_countries)

Top 5 countries:
country
GERMANY        522
FRANCE         477
ITALY          400
NETHERLANDS    324
SPAIN          271
Name: count, dtype: int64

### 3.3 Final Results
As you can see most of the data change, this is because of all the join and also some data cleaning I did. The biggest different may be The Top 5 countries, the explation behind the increase of those numbers are because now all the dataset are convine in a single one in other words all data from the others dataset is merged into the master, aswell this data set count every single order, if a costumer order twice or more it will be reflect.

In [4]:
import duckdb

# Reconnect to DuckDB and register the master dataset
con = duckdb.connect()
con.register("master_clean", master_clean)

# Query: count transactions per customer and their country
transactions_per_customer = con.execute("""
SELECT 
    country,
    sale_id,
    COUNT(*) AS num_transactions
FROM master_clean
GROUP BY country, sale_id
ORDER BY num_transactions DESC
""").fetchdf()

transactions_per_customer

         country  sale_id  num_transactions
0         FRANCE      298                 3
1          ITALY      391                 3
2    NETHERLANDS       82                 3
3    NETHERLANDS      614                 3
4         FRANCE       11                 3
..           ...      ...               ...
900       FRANCE     1226                 1
901      GERMANY     1255                 1
902      GERMANY     1150                 1
903      GERMANY     1060                 1
904       FRANCE      756                 1

[905 rows x 3 columns]

### 4. Data Table Schema
Finally this is the data table schema, it will help to guide you throgout this dataset, it lists all the fields,their data types and it include a short explanation of what each column represent

In [13]:
import pandas as pd

# Description schema
description_map = {
    "item_id": "ID for each transaction",
    "sale_id": "ID for each sale",
    "product_id": "Product ID",
    "quantity": "Number of units sold",
    "original_price": "Price before discount",
    "unit_price": "Final price per unit",
    "discount_applied": "Discount amount applied",
    "discount_percent": "Percentage discount applied",
    "discounted": "Indicates whether a discount is applied",
    "item_total": "Total amount for line",
    "sale_date": "Date of the transaction",
    "channel": "Sales channel",
    "channel_campaigns": "Marketing campaign channels",
    "discount_percent_calc": "Discount percentage bases on original and unit price",
    "is_price_outlier": "Flag indicating price outliers",
    "is_quantity_outlier": "Flag indicating quantity outliers",
    "is_discount_outlier": "Flag indicating percent outliers",
    "year": "Year of sale",
    "month": "Month of sale",
    "year_month": "Year-month period",
    "line_total": "Total line amount",
    "country": "Name of the country the transaction was made",
    "category": "Product category",
    "age_range": "Range of ages from customers"
    

}

# Schema table dynamically from the dataframe
schema_table = pd.DataFrame({
    "Field": master_clean.columns,
    "Type": master_clean.dtypes.astype(str),
    "Description": [description_map.get(c, "(No description)") for c in master_clean.columns]
})

# Display the schema table
schema_table

,Field,Type,Description
item_id,item_id,int64,ID for each transaction
sale_id,sale_id,int64,ID for each sale
product_id,product_id,int64,Product ID
sale_date,sale_date,object,Date of the transaction
year,year,int64,Year of sale
month,month,int64,Month of sale
year_month,year_month,object,Year-month period
quantity,quantity,int64,Number of units sold
unit_price,unit_price,float64,Final price per unit
original_price,original_price,float64,Price before discount
line_total,line_total,float64,Total line amount
discount_percent,discount_percent,float64,Percentage discount applied
discount_percent_calc,discount_percent_calc,float64,Discount percentage bases on original and unit...
discount_applied,discount_applied,float64,Discount amount applied
discounted,discounted,int64,Indicates whether a discount is applied
channel,channel,object,Sales channel
channel_campaigns,channel_campaigns,object,Marketing campaign channels
category,category,object,Product category
country,country,object,Name of the country the transaction was made
age_range,age_range,object,Range of ages from customers
signup_date,signup_date,float64,(No description)